<div class="container">
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading">
				<a class="pull-right" ui-sref="app"><i class="fa fa-chevron-left"></i> Back</a>
				<h3 class="panel-title">Courses</h3>
			</div>
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="course in user.courses | orderBy: ['associateSchool','name']">
					<h4>{{course.name}}</h4>
					<p>{{course.associateSchool}}</p>
				</li>
			</ul>
			<div class="panel-footer text-center">
				<a ui-sref="app"><i class="fa fa-chevron-left"></i> Back</a>
			</div>
		</div>
	</div>
</div>