<div class="container">
	<div class="row">
		<div class="panel panel-default col-xs-12">
			<div class="panel-heading">
				<h3 class="panel-title">Experience</h3>
			</div>
			<div class="panel-body" ng-repeat="experience in user.experience | orderBy: 'dateStart' : true">
				<div class="media">
					<div class="media-left media-top">
						<img class="media-object" ng-src="{{experience.logo}}" alt="{{experience.company}}">
					</div>
					<div class="media-body">
						<h4 class="media-heading">{{experience.title}}</h4>
						<p>
							{{experience.company}}<br />
							{{experience.dateStart | date : 'yyyy MMM'}} - {{(experience.dateEnd | date : 'yyyy MMM') || 'Present'}}<br />
							{{experience.address}}
						</p>
					</div>
				</div>
				<p ng-bind-html="experience.description">
				</p>
			</div>
		</div>
	</div>
</div>