<footer class="row-footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-4">
				<div class="nav navbar-nav" style="padding: 40px 10px;">
					<a class="btn" ng-href="http://google.com/+"><i class="fa fa-google-plus"></i></a>
					<a class="btn" ng-href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook"></i></a>
					<a class="btn" ng-href="http://www.linkedin.com/in/"><i class="fa fa-linkedin"></i></a>
					<a class="btn" ng-href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
					<a class="btn" ng-href="http://youtube.com/"><i class="fa fa-youtube"></i></a>
					<a class="btn" ng-href="mailto:"><i class="fa fa-envelope-o"></i></a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-8">
				<p style="padding:40px 10px;" align=center>© Copyright 2016 Muxi Qi</p>
			</div>
		</div>
	</div>
</footer>