<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" ui-sref="app"><img src="images/favicon.png" height=30 width=41></a>
		</div>
	</div>
</nav>         

<header class="jumbotron" ng-controller="HeaderController">

	<!-- Main component for a primary marketing message or call to action -->

	<div class="container">
		<div class="row row-header">
			<div class="col-xs-12 col-sm-8">
				<h1>Profile</h1>
				<p style="padding:40px;"></p>
				<div class="media">
					<div class="media-left media-middle">
						<a href="#">
						<img class="media-object" ng-src="{{user.avatar}}" alt="{{user.firstname + ' ' + user.lastname}}" height=120 width=120>
						</a>
					</div>
					<div class="media-body">
						<h2 class="media-heading">{{user.firstname + ' ' + user.lastname}}</h2>
						<h4>{{user.experiences[0].title + ' at ' + user.experiences[0].company}}</h4>
						<h5>{{user.address.city + ', ' + user.address.state + ' ' + user.address.zipcode + ' || ' + user.experiences[0].industry}}</h5>
					</div>
				</div>
				<p style="padding:40px;"></p>
			</div>
		</div>
	</div>
</header>