/** body scrollbar always enabled */
body    {
    overflow-y:scroll;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

/** fonts */
h1 {
	font-family: "Brush Script MT", cursive;;
}
.panel-body {
    font-family: Verdana, Geneva, sans-serif;
}

/** word-wrap */
.panel { word-wrap: break-word; }