/** body scrollbar always enabled */
body    {
    overflow-y:scroll;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

/** heading font */
h1 {
	font-family: "Brush Script MT", cursive;;
}
/** responsive image */
/* xs */
img.media-object {
    width: 60px;
    height: auto;
}
_.thumbnail img {
    width: 120px;
    height: auto;
}
/* sm */
@media (min-width: 768px) {
    img.media-object {
        width: 70px;
    }
    header img.media-object {
        width: 150px;
    }
}
/* md */
@media (min-width: 992px) {
    img.media-object {
        width: 100px;
    }
    header img.media-object {
        width: 200px;
    }
}
/* lg */
@media (min-width: 1200px) {
    img.media-object {
        width: 120px;
    }
    header img.media-object {
        width: 240px;
    }
}